//fonts path
$fontsPath: "../fonts/font-family";

//colors
$color-primary: #ffffff;
$color-secondary: #F9F9F9;


//fonts Monserrat

$regular: 'montserratRegular';
$medium: 'montserratMedium';
$semibold: 'montserratSemibold';
$bold: 'montserratBold';
$Extrabold: 'montserratExtraBold';
$italic: 'montserratMediumItalic';